html {
    scroll-behavior: smooth;
    background-color: #434c5e;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    color: #e5e9f0;;
    background-color: #434c5e;

}

.header a {
    color: #eceff4;
    text-decoration: none;
}

.nav_bar {
    height: 50px;
    display: grid;
    grid-template-columns: 37.5% 25% 37.5%;
    grid-template-rows: 50px auto;
}

.nav_bar * {
    margin: auto;
}

.nav_bar img {
    height: 30px;
}

.content, .header {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    background-color: #3b4252;
    min-height: 20em;
    padding: 10px;
    border-radius: 3px;
    color: #eceff4;
}

#top {
    display: inline;
}

#button_menu {
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
}

#button_top {
    margin-left: 10px;
    margin-right: auto;
}

#menu {
    z-index: 3;
    grid-row: 2;
    grid-column: span 3;
    background-color: #434c5e;
    width: 100%;
    grid-template-columns: 1fr;
}


#menu.menu_hide {
    display: none;
}

#menu:not(.menu_hide) {
    display: grid;
}

#menu a {
    display: inline-block;
    padding: 14px 3px;
}

#menu a:hover {
    background-color: #eceff4;
    color: #434c5e;
}

@media only screen and (min-width: 650px) {
    #button_menu {
        display: none;
    }

    #menu.menu_hide {
        /* fix the transition from mobile to pc
        */
        display: grid;
    }

    #menu {
        display: grid;
        grid-row: 1;
        grid-column: 3;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .h_link1 {
        grid-column: 1;
        grid-row: 1;
    }

    .h_link2 {
        grid-column: 2;
        grid-row: 1;
    }

    .h_link3 {
        grid-column: 3;
        grid-row: 1;
    }
}

header {
    transition: 0.5s;
}


#button_top {
    transition: 0.5s;
}

#button_top:hover {
    transform: rotate(-180deg);
}

.hidden {
    display: none;
}

.event {
    border-radius: 5px;
    padding: 3px;
    border-color: #a3be8c;
    color: #a3be8c;
    border-style: solid;
}

.error {
    border-color: #bf616a;
    color: #bf616a;
}

.search_span {
    display: grid;
    grid-template-columns:auto 50px;
    background-color: #4c566a;
    padding: 5px;
    border-radius: 5px;
}

.search_img {
    height: 40px;
}

.search_input {
    background: none;
    border: none;
    color: #eceff4;
}

.search_button {
    border: none;
    background: none;
}

.form_box {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.form_box .input_txt, .submit {
    width: 100%;
    margin-bottom: 1em;
    margin-top: 0.2em;
}


.input_txt {
    border: none;
    background-color: #4c566a;
    color: #eceff4;
    border-radius: 3px;
    padding: 5px;
}

.button {
    background-color: #88c0d0;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
}

a {
    color: #eceff4;

}

.tiwit img {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;


}

.tiwit {
    margin: 5px;
    border-radius: 3px;
    border: solid #eceff4 1px;

    padding: 5px;
}

.text_tiwit {
    padding: 5px;
    margin-top: 0;
    margin-bottom: 10px;

}

.reaction_button {
    font-size: 2em;
    border: none;
    background: #434c5e none;
    color: #eceff4;
    border-radius: 3px;

}

#status {
    position: sticky;
    top: 50px;
    background: #3b4252;
}

.important_notification {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.important_notification .notification_content {
    display: grid;
    grid-template-columns: auto 2em;
    grid-template-rows: 2em auto;
    max-width: 400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: #eceff4;
    margin-top: 60px;

}

.important_notification * {
    color: #3b4252;
    text-decoration: none;
}

.important_notification a {
    grid-column: 2;
    grid-row: 1;
    padding-right: 5px;
    padding-top: 5px;
}

.important_notification p {
    grid-row: 2;
    grid-column: 1 / span 2;
}

.signup_request {
    margin-bottom: 0;
}

.reaction_selected {
    background-color: #4c566a;
}

.danger {
    color: #bf616a;
}

#user_list {
    list-style: none;
    text-decoration: none;
    text-align: left;
}

#user_list li {
    margin-bottom: 1em;
}

.edit_images_list img {
    max-width: 5rem;
    max-height: 5rem;
}

.clickable {
    cursor: pointer;
}
